<header class="app-header">

  <button
    id="menuBtn"
    class="menu-btn"
  >
    ☰
  </button>

  <a
    href="/usuario/dashboard/dashboard.html"
    class="header-logo"
  >

    <img
      src="/assets/images/logo-utp-parking.png"
      alt="UTP Parking" 
    >

  </a>

  <div class="notification-wrapper">
    <button
      id="notificationBtn"
      class="notification-btn"
    >
      🔔
      <span id="notificationBadge" class="notification-badge hidden">0</span>
    </button>
    <div id="notificationPanelContainer"></div>
  </div>

</header>