<aside
  id="sidebar"
  class="sidebar"
>

  <div class="sidebar-user">

    <h3 id="sidebarUserName">
      Administrador
    </h3>

    <p id="sidebarUserEmail">
      correo
    </p>

  </div>

  <hr>

  <nav class="sidebar-menu">

    <a href="/administrador/dashboard/dashboard.html">
      Inicio
    </a>

    <a href="/administrador/usuarios/usuarios.html">
      Usuarios
    </a>

    <a href="/administrador/verificaciones/verificaciones.html">
      Verificaciones
    </a>

    <a href="/administrador/incidencias/incidencias.html">
      Incidencias
    </a>

    <a href="/administrador/infracciones/infracciones.html">
      Infracciones
    </a>

  </nav>

  <button
    id="logoutBtn"
    class="logout-btn"
  >
    Cerrar sesión
  </button>

</aside>
