.notifications-panel{

  position:fixed;

  top:0;
  right:-340px;

  width:320px;

  height:100vh;

  background:white;

  z-index:1001;

  transition:.25s;

  box-shadow:
    -2px 0 10px rgba(0,0,0,.15);

  overflow-y:auto;
}

.notifications-panel.active{

  right:0;
}

.notifications-panel h3{

  margin:0;

  padding:20px;

  background:#B50E30;

  color:white;
}

#notificationsList{

  padding:15px;
}

.notification-item{

  padding:12px;

  border-bottom:
    1px solid #eee;
}